{% extends 'base.html' %}

{% block body %}
<h1>Demo Page</h1>
    <div>max_like: {{ max_like }}</div>
    <div>min_like: {{ min_like }}</div>
    <div>max_wish: {{ max_wish }}</div>
    <div>min_wish: {{ min_wish }}</div>
    <div>max_exchange: {{ max_exchange }}</div>
    <div>min_exchange: {{ min_exchange }}</div>
    <h3>Matching Scores:</h3>
    <ul>
        {% for key, value in matching_score.items %} 
          <li>{{key.product_category_name}} : {{value |floatformat:3 }}</li>
        {% endfor %}
    </ul>
{% endblock %}