{% extends 'base.html' %}

{% block body %}

<div>
    <h1>Your Offer</h1>
    {% for result in Offer %}
        <div style="width:250px;height: 308px; display: inline-block; padding:5px; margin:5px;vertical-align:text-top" class="border rounded">
            <!-- <div>{{result.user.username}}</div> -->
            <!-- <div style="font-size: 10px;">{{result.user.profileuser.location_station.station_name}}</div> -->
            <div><b>{{result.Offer_key.Product_title}}</b></div>
            <!-- {{result.Product_image}} -->
            {% if result.Offer_key.Product_image and result.Offer_key.Product_image.strip %}
            <div style="height: 100px;width: 100px;"><img src="{{result.Offer_key.Product_image}}" width="100px" /></div>
            
            {% else %}
            <div style="width: 100px;height:100px;background-color: darkgrey;padding: auto;">No Image</div>
            {% endif %}
            <form action="{% url 'exchange' %}" method="GET">
                <input type="hidden" name="price" type='button' class="btn btn-primary" value='{{result.Offer_key.value}}'></input>
                <input type="hidden" name="offer_id" type='button' class="btn btn-primary" value='{{result.id}}'></input>
                <button type="submit" name="button" class="btn btn-primary">Find Match</button>
            </form>
            <!-- <button class="btn btn-primary" onclick="AjaxFormSubmit()" href="#" id="{{ forloop.counter }}">Like</button> -->
        </div>
    {% endfor %}
</div>

<script>
    
    function getPrice(price){
        // console.log('yoyo')
        $j.ajax({
            url: "{% url 'exchange' %}",
            type:"POST",
            data: {
                'price': price
            },
            success: function(data){
                window.location.href=url
            }
        }).done(function (returned_data){
            alert(returned_data);
        });
    };

</script>
{% endblock %}