
{% block body %}
<h1>Welcome, {{user.username}}</h1>
<!--search bar-->
<!-- <form>
  <div class="container mt-5 searchbar" style="display:flex">
    <form action="{% url 'search_result' %}" method="GET" >
      <div class="col">
        <input class="form-control form-control-lg form-control-borderless " type="search" placeholder="Search products"
          style="min-height:100px" name="query" type="text">
      </div>
      <div class="col-auto">
        
        <button class="btn btn-lg btn-primary" type="submit" style="min-height:100px" name="button" >Search</button>
      </div>
    </form>
  </div>
</form> -->

<form action="{% url 'search_result' %}" method="get">
  <input name="query" type="text" placeholder="Search here..">
  <button type="submit" name="button">Submit</button>
</form>

{% endblock %}