
{% block body %}
<h1>Welcome, {{user.username}}</h1>
<!--search bar-->
<!-- <form>
  <div class="container mt-5 searchbar" style="display:flex">
    <form action="{% url 'search_result' %}" method="GET" >
      <div class="col">
        <input class="form-control form-control-lg form-control-borderless " type="search" placeholder="Search products"
          style="min-height:100px" name="query" type="text">
      </div>
      <div class="col-auto">
        
        <button class="btn btn-lg btn-primary" type="submit" style="min-height:100px" name="button" >Search</button>
      </div>
    </form>
  </div>
</form> -->

<form action="{% url 'search_result' %}" method="get" style="display: flex;">
  <input name="query" type="text" placeholder="Search here.." class="form-control" style="width:70%">
  <select id="cat" name="cat">
    <option value="0">All category</option>
    {% for each in result %}
      <option value="{{each.id}}">{{each.product_category_name}}</option>
    {% endfor %}
  </select>
  <button type="submit" name="button" class="btn btn-primary">Search</button>
</form>

{% endblock %}