{% extends 'base.html' %}
{% block body %}

{% if user.is_authenticated %}

{% include "product_list.html" %}

{% else %}
<div class="container">
    <div style="margin:auto;display:block;width:fit-content">
        <h1>Welcome</h1>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary btn-lg"
                style="border-radius: 300px; padding:20px 50px;" onClick="location.href='/signup/'">
                Sign up</button>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-dark btn-lg" style="border-radius: 300px; padding:20px 50px;"
                onClick="location.href='accounts/login/'">
                Log in</button>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}